.ticketInfo{
    span{
        font-weight: 700;
    }
    h4{
        margin-bottom: 1rem;
    }
}
.formPerson{
    display: flex;
    flex-direction: column;
    input{
        width: 20rem;
    }
}