.timeTable{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    form{
        select, input{
            border: 1px solid #bdc3c7;
            height: 3rem;
            border-radius: 0.5rem;
            outline: none;
            padding: 0 1rem;
            margin: 1rem;
        }
        input[type=submit]{
        background-color: #4e73df;
        color: #fff;
        cursor: pointer;
        border: none;
        &:hover{
            background-color: #224abe;
        }
        }
    }
}
.containerItem{
    width: 100%;
}
.item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}